
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; padding: 0; }
body { min-height: 100dvh; line-height: 1.5; -webkit-font-smoothing: antialiased; }
input, button, textarea, select{ font: inherit; }
img, picture, svg, video, canvas{ max-width: 100%; height: auto; display: block; }
p { text-wrap: pretty }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
a:link, a:visited, a:hover, a:active { text-decoration: none; }
legend {
    display: table;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    + * {
        clear: both;
    }
}
fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset { display: table-cell; }
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
.icon {
  min-width: 24px;
  min-height: 24px;
}

.icon-hover {
  padding: 10px;
}
.icon-hover:hover {
  background-color: #dadada;
  border-radius: 100%;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header {
  width: 100vw;
  height: 64px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6fafd;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  min-width: 44px;
  min-height: 44px;
  padding: 10px;
  border-radius: 100%;
}

.menu-icon:hover {
  background-color: #dadada;
  border-radius: 100%;
}
.contacts-icon {
  width: 35px;
  height: 35px;
  padding: 7px;
}

.contacts-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-text {
  padding: 3px;
  padding-left: 5px;
  font-family: "Georama", sans-serif;
  font-weight: 400;
  color: #756d6b;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color:#f2f3f5;
  border-radius: 10px;
}

.search-bar:focus-within {
  background-color: #ffffff;
  box-shadow: 2px 2px 10px #756d6b;
}

.search-bar svg {
  padding: 8px;
  margin: 5px;
  margin-right: 0px;
}

.search-bar svg:hover {
  background-color: #dadada;
  border-radius: 100%;
}

.search-bar input {
  -webkit-appearance: none;
  -moz-appearance: none;    
  appearance: none;         
  border: none;             
  outline: none;            
  background: none;
  border-style: none;
  width: 605px;
  background-color: #f2f3f5;
}

.header_right {
  display: flex;
  gap: 50px;
}

.icon1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.search-icon {
  color: #756d6b;
}

.search-bar input:focus {
  background-color: #ffffff;
}

.header_right {
  display: flex;
  align-items: center;
}

.interrogation-icon {
  padding-top: 1.5px;
  color: #756d6b;
  border: solid 3px #756d6b;
  border-radius: 100%;
}

.settings-icon {
  color: #756d6b;
}

.dots-icon {
  color: #756d6b;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.contacts-list {
  width: 49vw;
  min-height: 630px;
  background-color: #f2f3f5;
  border-radius: 15px;
  padding: 30px;
}

.contacts-form {
  width: 49vw;
  min-height: 630px;
  background-color: #f2f3f5;
  border-radius: 15px;
}

.contacts-title {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #54677a;
  margin-bottom: 10px;
}

.contacts-title h3 {
  font-size: 26px;
  font-weight: 200;
}

.contacts-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contacts-label p {
  color: #54677a;
  flex-basis: 33.3%;
}

.contacts-description p {
  font-size: 14px;
  color: #54677a;
  margin-top: 10px;
  margin-bottom: 15px;
}

.contacto {
  display: flex;
  justify-content: space-between;
}

.contacto > span {
  flex-basis: 33.3%;
  align-content: center;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto div {
align-items: center;
flex-basis: 33.3%;
gap: 20px;
}

.avatar-name {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #54677a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  color: #ffffff;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.contacts-form > p {
  font-size: 30px;
  color: #54677a;
  width: 100%;
}

.avatar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-color-selector__selector {
  padding: 7px 20px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  border: 1px solid #747775;
}

.avatar-form SVG {
  border-radius: 50%;
}

.name-surname-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.gmail-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.number-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.fieldset-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.gmail-form {
  width: 100%;
}

.name-form {
  width: 100%;
}

.surname-form {
  width: 100%;
}

.number-form {
  width: 100%;
}

.icon-form {
  min-width: 28px;
  min-height: 28px;
}

.form {
  box-sizing: border-box;
  color: inherit;
  padding: 8px;
  border: solid 1px #54677a;
  border-radius: 15px;
}

.form:focus {
  border: solid 1.5px #000000;
}

.add-contact {
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: #c3e7ff;
  border: none;
}

.add-contact:hover {
  cursor: pointer;
  box-shadow: 0.5px 0.5px 40px #9a9a9a;
  
}